<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Institution List</title>
</head>
<body>
    <h1>Institution List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Institutions Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for institutions in institutions %}
                <tr>
                    <td>{{ institutions[0] }}</td>
                    <td>{{ institutions[1] }}</td>
                    <td>
                        <a href="{{ url_for('edit', id=institutions[0]) }}">Edit</a>
                        <a href="{{ url_for('delete', id=institutions[0]) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('edit', id=0)}}"><button>Add Institutions</button></a>
</body>
</html>